<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/58d46363-5ebf-4fcc-a95c-821b96517d99/resourcegroups/myCloudResource/providers/Microsoft.ContainerRegistry/registries/registry20200522183731</ContainerResourceId>
    <ContainerResourceName>registry20200522183731</ContainerResourceName>
    <Subscription>Azure für Bildungseinrichtungen</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20200522183731.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/58d46363-5ebf-4fcc-a95c-821b96517d99/resourcegroups/myCloudResource/providers/Microsoft.Web/sites/FitnessApp20200522183728</ResourceId>
    <ResourceGroup>myCloudResource</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fitnessapp20200522183728.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://fitnessapp20200522183728.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>83dae73f-423b-4aeb-918d-c9a08438a80a</ProjectGuid>
  </PropertyGroup>
</Project>